PORT=3003
STRIPE_SECRET=<>

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel
#https://dashboard.stripe.com/test/webhooks/we_1Pnbi8RqwEOLKrJ5sU0SNjbq
#Web secret de web hook 
STRIPE_ENDPOINT_SECRET=<>